In [45]:
%pylab inline
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns


import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [46]:
completedBechdelDataset = pd.read_csv('completeBechdelData.csv')
allBechdels = pd.read_csv('/Users/manavdutta1/Downloads/allBechdels.csv')

In [47]:
allBechdels = allBechdels.rename(index=str, columns={"imdbid": "imdb_id", "year": "Year", "title": "Title", "rating": "Rating"})
allBechdels.isnull().sum()

Unnamed: 0    0
id            0
imdb_id       2
Rating        0
Title         0
Year          0
dtype: int64

In [48]:
completedBechdelDataset.isnull().sum()

Unnamed: 0                      0
Unnamed: 0.1                    0
Unnamed: 0.1.1                  0
imdb_id                         0
color                         145
director_name                 230
num_critic_for_reviews        176
duration                      141
director_facebook_likes       230
actor_3_facebook_likes        149
actor_2_name                  139
actor_1_facebook_likes        133
gross                        1010
genres                        126
actor_1_name                  133
movie_title                   126
num_voted_users               126
cast_total_facebook_likes     126
actor_3_name                  149
facenumber_in_poster          139
plot_keywords                 279
movie_imdb_link               126
num_user_for_reviews          147
language                      138
country                       131
content_rating                429
budget                        618
title_year                    234
actor_2_facebook_likes        139
imdb_score                    126
aspect_ratio                  455
movie_facebook_likes          126
binary                       3317
test                         3317
clean_test                   3317
domgross                     3317
intgross                     3317
budget_2013$                 3317
domgross_2013$               3317
intgross_2013$               3317
dtype: int64

In [49]:
mergeResult = pd.merge(allBechdels, completedBechdelDataset, how='left', on=['imdb_id'])
mergeResult.head()

,Unnamed: 0_x,id,imdb_id,Rating,Title,Year,Unnamed: 0_y,Unnamed: 0.1,Unnamed: 0.1.1,color,...,aspect_ratio,movie_facebook_likes,binary,test,clean_test,domgross,intgross,budget_2013$,domgross_2013$,intgross_2013$
0,0,5433,3,0,Pauvre Pierrot,1892,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5444,14,0,Tables Turned on the Gardener,1895,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,6200,132134,0,"Execution of Mary, Queen of Scots, The",1895,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,6199,12,0,"Arrival of a Train, The",1896,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5406,131,0,Une nuit terrible,1896,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
trueBechdels = completedBechdelDataset[completedBechdelDataset.binary.notnull()]
intersectSet = set(trueBechdels.imdb_id).intersection(set(mergeResult.imdb_id))
diffSet = set(trueBechdels.imdb_id).difference(intersectSet)
print(len(diffSet))

1

In [51]:
print(set(trueBechdels.imdb_id).difference(set(mergeResult.imdb_id)))
print(len(set(mergeResult.imdb_id).difference(set(trueBechdels.imdb_id))))

{29356}
5552

In [53]:
mergeResult.to_csv('/Users/manavdutta1/Downloads/imdbpy-5.1/mergeRes.csv')